.custom-navbar {
  background-color: #1c41b9 !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler {
  color: #fff !important;
}
.custom-navbar .nav-link.active {
  text-decoration: underline;
}
