.custom-navbar {
  background-color: #1c41b9 !important;
  margin-bottom: 0 !important;
  padding-top: 7px;   
  padding-bottom: 7px;

  display: flex;
  align-items: center;
}

.custom-navbar .navbar-brand {
  font-size: 1rem;    
  padding: 0;         
}

.custom-navbar .nav-link {
  font-size: 0.95rem; 
  padding: 4px 8px;   
  color: #fff !important;
}
.custom-navbar .nav-link.active {
  text-decoration: underline;
}
